@page
@model SemesterProjekt.Pages.RentalPeriods.RentalIndexModel
@using SemesterProjekt.Interfaces
@using SemesterProjekt.Model
@inject IBoatRepository boatrepo;
@{
    ViewData["title"] = "RentalIndex";
}

@*Anders*@
<h1>Rental list</h1>
<a asp-page="RentalAdd" class="btn btn-primary"> create a new rentalperiod</a>
<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> from the </th>
            <th> to the </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Periods)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.RentalperiodFrom</td>
                <td>@item.RentalperiodTo</td>
                <td>@boatrepo.GetBoat(item.Boatid).Name</td>
                <td><a asp-page="RentalEdit" asp-route-id="@item.Id">Edit</a></td>
                <td><a asp-page="RentalDelete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>