@page
@model SemesterProjekt.Pages.Eventmodel.BoatToEventAddModel
@{
    ViewData["title"] = "add Boat to Event";
}
<h1> add boat to event</h1>


<form method="post">
    <div class="form-group">
        <label asp-for="@Model.BoatToevent.BookingID"></label>
        <input asp-for="@Model.BoatToevent.BookingID" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BoatToevent.BoatId"></label>
        <input asp-for="@Model.BoatToevent.BoatId" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BoatToevent.EventID"></label>
        <input asp-for="@Model.BoatToevent.EventID" />
    </div>
    <div class="formgroup">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>