@page
@model SemesterProjekt.Pages.Eventmodel.BoatToEventModel
@using SemesterProjekt.Interfaces;
@using SemesterProjekt.Model;
@inject IBoatRepository boatrepo;
@{
    ViewData["title"] = "BoatToEventIndex";
}
@*Anders*@

<h1> list of boats</h1>
<a asp-page="BoatToEventAdd"  asp-route-id="@Model.Event.Id"> join a new boat to event</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Length</th>
            <th>width</th>
            <th>weight</th>
            <th>Minimumcrew</th>
            <th>boattype</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in boatrepo.Boatlist(Model.BoatIDs))
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Length</td>
                <td>@item.Width</td>
                <td>@item.Weight</td>
                <td>@item.MinimumCrew</td>
                <td>@item.BoatType</td>
                <td> <a asp-page="BoatToEventEdit" asp-route-id="@item.Id">boatedit </a> | <a asp-page="BoatToEventDelete" asp-route-id="@item.Id">boats to delete </a> </td>
            </tr>
        }

    </tbody>
</table>