@page
@model SemesterProjekt.Pages.Eventmodel.ClubmemberToEventModel
@using SemesterProjekt.Interfaces;
@using SemesterProjekt.Model;
@inject IClubMemberRepository clubrepo;
@inject IEventRepository eventrepo;
@{
    ViewData["title"] = "clubmember to Event index";
}
@*Anders*@


<h1> clubmember to event</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>

        @foreach (ClubMember item in clubrepo.ClubmemberList(Model.ClubmemberToEvent))
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td> <a asp-page="ClubmemberToEventEdit" asp-route-id="@item.Id">boats to event </a> | <a asp-page="ClubmemberToEventDelete" asp-route-id="@item.Id">boats to event </a> </td>
            </tr>
        }

    </tbody>
</table>