@page
@model SemesterProjekt.Pages.Eventmodel.EditEventModel
@{
    ViewData["title"] = "edit an event";
}
@*Anders*@

<h1> edit an event</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for=@Model.Event.Id type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.Event.Name class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.FromDate" class="control-label"></label>
                <input asp-for="@Model.Event.FromDate" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.ToDate" class="control-label"></label>
                <input asp-for="@Model.Event.ToDate" class="control-label" />
            </div>
            <div class>
                <a asp-page="EventIndex">Cancel</a>
                <input type="submit" value="edit" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>