@page
@model SemesterProjekt.Pages.Eventmodel.EventToBoatEditModel
@{
    ViewData["title"] = "edit boat to event";
}
<h1> edit a boat to event</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.BoatToEvent.BookingID"></label>
        <input asp-for="@Model.BoatToEvent.BookingID" />
    </div>
    <div class="form-group">
        <select asp-for="@Model.BoatToEvent.BoatId" class="form-control" asp-items="@Model.BoatNames">
            <option value="">-- Select Boat---</option>
        </select>
    </div>
    <div class="form-group">
        <select asp-for="@Model.BoatToEvent.BoatId" class="form-control" asp-items="@Model.BoatNames">
            <option value="">-- Select Boat---</option>
        </select>
    </div>
    <div class="formgroup">
        <input type="submit" value="Edit" class="btn btn-primary" />
        <td> <a asp-page="EventIndex" class="btn cancelbutton">Cancel</a> </td>
    </div>
</form>