@page
@model SemesterProjekt.Pages.Boatmodel.EditBoatModel
@{
    ViewData["Title"] = "edit a boat";
}

<h1>edit a boat</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for=@Model.Boat.Id type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.Boat.Name" class="control-label"></label>
                <input asp-for="@Model.Boat.Name" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Boat.Weight" class="control-label"></label>
                <input asp-for="@Model.Boat.Weight" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Boat.Width" class="control-label"></label>
                <input asp-for="@Model.Boat.Width" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Boat.Length" class="control-label"></label>
                <input asp-for="@Model.Boat.Length" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Boat.MinimumCrew" class="control-label"></label>
                <input asp-for="@Model.Boat.MinimumCrew" class="control-label" />
            </div>
            <div class>
                <a asp-page="BoatIndex">Cancel</a>
                <input type="submit" value="edit" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>