@page
@model SemesterProjekt.Pages.Boatmodel.IndexBoatModel
@using SemesterProjekt.Model
@{
    ViewData["title"] = "boatlist";
}

<h1>List of boats</h1>
<a asp-page="AddBoat"> create a new boat</a>
<form method="post">
    <p>
        Search <input type="text" asp-for="@Model.FilterCriteria" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Length</th>
            <th>width</th>
            <th>weight</th>
            <th>topspeed</th>
            <th>Minimumcrew</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model.Boats)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Length</td>
                <td>@item.Width</td>
                <td>@item.Weight</td>
                <td>@item.TopSpeed</td>
                <td>@item.MinimumCrew</td>
                <td> <a asp-page="Crewlist" asp-route-id=@item.Id>crewlist</a> </td>
                <td> <a asp-page="EditBoat" asp-route-id=@item.Id>Edit</a></td>
                <td> <a asp-page="DeleteBoat" asp-route-id=@item.Id>Delete</a></td
            </tr>
        }

    </tbody>
</table>