@page
@model SemesterProjekt.Pages.Boatmodel.IndexBoatModel
@using SemesterProjekt.Model
@{
    ViewData["title"] = "boatlist";
}

<h1>List of boats</h1>
<a asp-page="AddBoat" class="btn btn-primary">Add a new boat</a>
<form method="post">
    <p>
        <input type="text" placeholder="Search..." asp-for="@Model.FilterCriteria" class="search"/>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Length</th>
            <th>width</th>
            <th>weight</th>
            <th>Minimumcrew</th>
            <th>boattype</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model.Boats)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Length</td>
                <td>@item.Width</td>
                <td>@item.Weight</td>
                <td>@item.MinimumCrew</td>
                <td></td>
                <td> <a asp-page="EditBoat" asp-route-id=@item.Id class="btn btn-primary">Edit</a></td>
                <td> <a asp-page="DeleteBoat" asp-route-id=@item.Id class="btn btn-primary">Delete</a></td>
            </tr>
        }

    </tbody>
</table>