@page
@model SemesterProjekt.Pages.Blogmodel.EditBlogPostModel
@{
	ViewData["Title"] = "edit a blog post";
}
<h1>edit a blog post</h1>

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<input asp-for="@Model.Post.PostId" type="hidden" />
			<div class="form-group">
				<label asp-for="@Model.Post.Title" class="control-label"></label>
				<input asp-for="@Model.Post.Title" class="control-label" />
			</div>
			<div class="form-group">
				<label asp-for="@Model.Post.Text" class="control-label"></label>
				<input asp-for="@Model.Post.Text" class="control-label" />
			</div>
			<div>
				<input type="submit" value="Edit" class="btn btn-primary" />
				<a asp-page="IndexBlog" class="btn cancelbutton">Cancel</a>
			</div>

		</form>
	</div>
</div>
