@page
@model SemesterProjekt.Pages.Clubmember.AddMemberModel
@{
    ViewData["Title"] = "Add new member";
}

<h1>Add new member</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Id"></label>
        <input asp-for="@Model.ClubMember.Id" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Name"></label>
        <input asp-for="@Model.ClubMember.Name" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Age"></label>
        <input asp-for="@Model.ClubMember.Age" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Email"></label>
        <input asp-for="@Model.ClubMember.Email" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Password"></label>
        <input asp-for="@Model.ClubMember.Password" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.MemberImage" class="control-label">Image</label>
        <div class="custom-file">
            <input asp-for="@Model.ClubMember.MemberImage" class="custom-file-input form-control" type="file"/>
        </div>
    </div>
     <div>
        <input type="submit" value="Create user" class="btn btn-primary" />
        <a asp-page="Index" class="cancelbutton btn">Cancel</a>
     </div>
</form>