@page
@model SemesterProjekt.Pages.Clubmember.DeleteMemberModel
@{
    ViewData["Title"] = "Delete Clubmember";
}

<h1>Delete clubmember</h1>

<form method="post">
    <input type="hidden" asp-for="@Model.ClubMember.Id"/>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Name"/>
        <input asp-for="@Model.ClubMember.Name" value="@Model.ClubMember.Name" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Age" />
        <input asp-for="@Model.ClubMember.Age" value="@Model.ClubMember.Age" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Email" />
        <input asp-for="@Model.ClubMember.Email" value="@Model.ClubMember.Email" disabled />
    </div>
    <div class="form-group">
        <input type="submit" value="Delete" />
    </div>
</form>
