@page
@model SemesterProjekt.Pages.Clubmember.DeleteMemberModel
@{
    ViewData["Title"] = "Delete Clubmember";
}

<h1>Delete clubmember?</h1>

<form method="post">
    <input type="hidden" asp-for="@Model.ClubMember.Id"/>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Name"/>
        <input asp-for="@Model.ClubMember.Name" value="@Model.ClubMember.Name" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Age" />
        <input asp-for="@Model.ClubMember.Age" value="@Model.ClubMember.Age" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ClubMember.Email" />
        <input asp-for="@Model.ClubMember.Email" value="@Model.ClubMember.Email" readonly />
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Delete" />
        <a asp-page="Index" class="btn cancelbutton">Cancel</a>
    </div>
</form>
