@page
@model SemesterProjekt.Pages.Clubmember.IndexModel
@using SemesterProjekt.Interfaces;
@inject IClubMemberRepository repository;
@{
    ViewData["Title"] = "Clubmembers";
}

<h1>All clubmembers</h1>
<p>
    <a asp-page="AddMember">Add a new clubmember</a>
</p>

<form>
    <input type="text" asp-for="SearchCriteria"/>
    <input type="submit" value="Search"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ClubMembers)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td><a asp-page="EditMember" asp-route-id="@item.Id">Edit</a> | <a asp-page="DeleteMember" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
