@page
@model SemesterProjekt.Pages.Clubmember.IndexModel
@using SemesterProjekt.Interfaces;
@inject IClubMemberRepository repository;
@{
    ViewData["Title"] = "Clubmembers";
}

<h1>Clubmembers</h1>
    <a asp-page="AddMember" class="btn btn-primary">Add a new clubmember</a>

<form>
    <input type="text" asp-for="SearchCriteria" class="search" placeholder="Search..."/>
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ClubMembers)
        {
            <tr>
                <td><img src="~/Images/ClubmemberImages/@item.MemberImage" class="rounded-circle"></td>
                <td>@item.Id</td>
                <td><a asp-page="PersonalMemberPage" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Age</td>
                <td><a asp-page="EditMember" asp-route-id="@item.Id">Edit</a> | <a asp-page="DeleteMember" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
